.profile-container {
    max-width: 500px;
    padding-top: 30px;
}

.profile-info {
    text-align: left;
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 150px;
}

.profile-info .profile-name {
    font-weight: 500;
    font-size: 18px;
}

.profile-info .profile-email {
    font-weight: 400;
}

.text-avatar {
    width: 200px;
    height: 200px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 5%;
    background: #46b5e5;
    background: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -ms-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -moz-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -o-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: -webkit-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
    background-image: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
}

.text-avatar span {
    line-height: 156px;
    color: #fff;
    font-size: 3em;
}

.chat-profile-border {
    margin: 10px 25px;
    border: 2px solid #c8c1c1;
    border-radius: 8px;
    background-color: #40baf5;
}

.profile-name {
    font-size: 20px;
    font-family: "Comic Sans MS";
    padding: inherit;
}

.profile-avatar {
    border-radius: 50%;
}